body {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  color: rgb(21, 27, 30);
  font-family: Arial, Helvetica, sans-serif;
}

.card-header {
  background: #4a4a4a;
  border-radius: 1px;
}

.card-header-title {
  color: white !important;
}

#stocks_list .card-content {
  background-color: #222222;
}

.red {
  color: rgb(255, 0, 23);
}

.green {
  color: rgb(0, 124, 1);
}

.blue {
  color: rgb(0, 105, 196);
}

.yellow {
  color: rgb(246, 155, 11);
}

.purple {
  color: rgb(190, 0, 190);
}

.white {
  color: white;
}

.black {
  color: rgb(21, 27, 30);
}

.color1 {
  background-color: rgb(244, 245, 249);
}

.color2 {
  background-color: rgb(230, 232, 237);
}

.skylight-dialog h2 {
  font-size: 1.2rem;
  padding-left: 15px;
  padding-top: 15px;
}
.Toastify__progress-bar--animated {
  animation-duration: 1500ms !important;
  animation-play-state: running;
  opacity: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.content-center td {
  text-align: center !important;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  text-transform: none;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  text-transform: none;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  text-transform: none;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  text-transform: none;
}
::placeholder {
  /* Recent browsers */
  text-transform: none;
}

.reactDatez input{
  height: 41px;
  background: #f2f2f2;
  box-shadow: none !important;
  border: none;
  width: 100%;
}


::-webkit-scrollbar {
  width: 0px;
}

.table--left td,.table--left td th {
  text-align: left!important;
  padding-left: 10px;
}