.form-control, a:hover {
    color: black;
}
.orderPopup{
    margin-top: 25px;
}
.toggle.btn-success {
    width: 100%!important;
}
.toggle.btn-danger {
    width: 100%!important;
}

.skylight-close-button{
    display: none;
}