.form-control,
a {
  color: rgb(21, 27, 30);
}
.form-control,
a:hover {
  color: rgb(21, 27, 30);
}
.orderPopup {
  margin-top: 25px;
}
.toggle.btn-success {
  width: 100% !important;
}
.toggle.btn-danger {
  width: 100% !important;
}

.skylight-close-button {
  display: none;
}

.popup .table-top {
  height: 100%;
  font-size: 13px;
  margin-bottom: -2px;
  background-color: rgb(241, 241, 243);
  vertical-align: middle;
  border-collapse: collapse;
}

.popup table thead {
  font-size: 12px;
  border: 1px solid #282828;
  border-bottom: 2px solid #faa51d;
}

.popup table tbody:nth-child(even) {
  background-color: #111111;
}

.popup table tbody tr:hover td {
  background-color: rgb(223, 237, 252) !important;
  border: none;
}

.popup table td .text-success,
.danhMuc table td .text-danger {
  cursor: pointer;
}
.popup table td .text-success:hover,
.danhMuc table td .text-danger:hover {
  cursor: pointer;
  font-weight: bold;
}

.popup .td {
  text-align: center;
}

a.fa.fa-pencil-alt:hover {
  color: green;
}

a.fa.fa-times:hover {
  color: red;
}

.draggable {
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  z-index: 9999;
  background-color: green;
  box-shadow:  2px 2px rgba(0, 0, 0, 0.3);
}
.draggable .draggableText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.draggable:hover {
  background-color: greenyellow;
}
.draggable:focus {
  outline: none;
}
